.container {
  max-width: 1252px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr),);
  gap: 20px;

  @media (max-width: 768px) {
    max-width: 350px;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 0px;
  }
}
