* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // outline: 1px solid red;
}

// body {
//   font-family: ;
// }

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
}
