.container {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(229, 226, 226);
  word-break: break-all;

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    &:hover {
      background-color: rgb(210, 208, 208);
    }
    padding: 0 10px;
    border-radius: 10px;
    img {
      cursor: pointer;
      max-width: 45px;
    }
  }
}
