.container {
  width: 100%;
  font-size: 14px;

  display: grid;
  gap: 5px;

  .selectHeader {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 30px;
    padding: 10px 20px;
    background-color: rgb(231, 228, 228);
    border-radius: 10px;

    span {
      cursor: pointer;
    }
  }
  .ul {
    border-radius: 10px;
    background-color: rgb(231, 228, 228);

    li {
      padding: 10px 20px;
      cursor: pointer;
      display: block;
      &:hover {
        background-color: rgb(202, 199, 199);
      }
    }
  }

  &.error {
    border: 1px solid red;
    color: red;
  }
}
