.container {
  max-width: 803px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  gap: 30px;

  .img {
    max-width: 275px;
    width: 100%;
    object-fit: contain;
  }

  @media (max-width: 768px) {
    max-width: 100%;
    width: 100%;

    padding: 20px;
    display: grid;
    justify-content: center;
    border: 0.5px solid rgb(210, 210, 209);
    border-radius: 10px;

    .img {
      max-width: 180px;
      width: 100%;
      margin: 0 auto;
    }
  }
}
