.title {
  color: rgb(29, 29, 26);
  font-weight: 700;
}

.xl-36 {
  font-size: 36px;
  font-weight: 800;
}

.lg-30 {
  font-size: 30px;
  font-weight: 700;
}

.md-28 {
  font-size: 28px;
  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.md-20 {
  font-size: 20px;
  @media (max-width: 768px) {
    font-size: 18px;
  }
}

.sm-18 {
  font-size: 18px;
}

.sm-16 {
  font-size: 16px;
  font-weight: 600;
}

.sm-14 {
  font-size: 14px;
  font-weight: 400;
}
