.text {
  color: rgb(119, 119, 118);
  font-weight: 500;
  line-height: 23px;
}

.red {
  color: rgb(241, 5, 5);
}

.md-20 {
  font-size: 20px;
}

.sm-18 {
  font-size: 18px;
}

.sm-16 {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.sm-14 {
  font-size: 14px;
  font-weight: 400;
}
.sm-12 {
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
}
