.container {
  max-width: 504px;
  width: 100%;

  display: flex;
  justify-content: space-around;
  gap: 20px;

  button {
    padding: 15px 17px;
  }

  @media (max-width: 768px) {
    display: none;
  }
}
